%p
  %a{ :href => '/detail' } &laquo; Back to Detail
  
%h1 Edit Stock 125 &mdash; cvP51P/FM7

%form.edit
  %label Genotype
  %input{ :type => "text" }
  %label Stock Number
  %input{ :type => "text" }
  %label Lethality
  %select
    %option 
    %option Dead
    %option Nearly Dead
  // Source to be a type-ahead
  %label Source
  %input{ :type => "text" }
  
  %label Chromosomes Affected
  #chromos
    X
    %input{ :type => "checkbox" }
    Y
    %input{ :type => "checkbox" }
    2
    %input{ :type => "checkbox" }
    3
    %input{ :type => "checkbox" }
    4
    %input{ :type => "checkbox" }
    
  %label Description
  %textarea
  
  %a.ref{ :href => "#" }Add References
  %input{ :type => "submit", :value => "Save Changes"}
