%h1 Welcome Miles.

%input.search
%input.search{ :type => "submit", :value => "Search" }

%select.search
  %option Drosophila
  %option &nbsp;Chromosome X
  %option &nbsp;Chromosome Y
  %option &nbsp;Chromosome 2
  %option &nbsp;Chromosome 3
  %option &nbsp;Chromosome 4
  
%h2 Browse

