%h1 Welcome Miles.

%input.search
%input.search{ :type => "submit", :value => "Search" }

%select.search
  %option Drosophila
  %option &nbsp;Chromosome X
  %option &nbsp;Chromosome Y
  %option &nbsp;Chromosome 2
  %option &nbsp;Chromosome 3
  %option &nbsp;Chromosome 4
  
%h2 Browse Drosophila (324)

#results   
  %p 
    .geno
      %span.nbr b196 
      %a{ :href => '#' }cvP51P / FM7 
      
    .desc
      Stock carries a deletion in the cv and the CG3160 (lipase) genes.
      The deletion was induced by mobilizing the P-element in the EP1349 line. 50%
      lethality due to second site mutation; crossveins are missing&hellip;

  %h3  
  %p
    .geno
      %span.nbr P786	
      %a{ :href => '#' }w; UAS-CG31738-AF.4
    
    .desc
      Isoform A of CG31738 which is the Drosophila homolog of fibronectin type 
      III domain containing protein. CG31738 has been re-annotated by Flybase 
      and is currently listed as CG42389 (Jan.2009), isoform A is now&hellip;
  
  %h3 
  %p
    .geno
      %span.nbr c358	
      %a{ :href => '#' }w; sir217/CyO

    .desc
      The original stock they sent was w; Sir2[17]/CyO; Pc[11]/TM3 this is
      a null allele: comes from an imprecise excision of the P{lacW}k07223 element,
      removing most of the Sir2 open reading frame (sequences coding&hellip;

  %p
    .geno
      %span.nbr P786	
      %a{ :href => '#' }w; UAS-CG31738-AF.4 
    
    .desc
      Isoform A of CG31738 which is the Drosophila homolog of fibronectin type 
      III domain containing protein CG31738 has been re-annotated by Flybase 
      and is currently listed as CG42389 (Jan.2009), isoform A is now&hellip;
      
#page-nav
  %a{ :href => '#' } Prev 
  %a{ :href => '#' } 1 
  %a{ :href => '#' } 2 
  %span.current{ :href => '#' } 3 
  %a{ :href => '#' } 4 
  %a{ :href => '#' } Next
