html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym,
address, big, cite, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
  border: 0;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl, input {
  margin: 0 0 27px; }

li, dd, blockquote {
  margin-left: 32px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, dialog, figure, footer, header, hgroup, nav, section, input {
  display: block; }

nav li, nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  background-color: white;
  font-size: 18px; }

h1 {
  font-size: 2em;
  line-height: 1em;
  font-weight: bold; }

h2 {
  font-size: 1.5em;
  line-height: 1em;
  font-weight: bold; }

a {
  color: blue; }

a:hover {
  color: gray; }

#container {
  width: 896px;
  margin: auto;
  padding: 32px;
  line-height: 1.5em; }

#desc {
  float: left;
  width: 512px;
  padding: 0 32px 0 32px; }

#signin {
  float: left;
  width: 256px;
  padding: 0 32px 0 32px; }
  #signin #username {
    position: absolute;
    color: gray;
    padding-left: 2px; }
  #signin input {
    font-size: 16px;
    height: 23px;
    padding: 0;
    margin: 0 0 27px;
    width: 100%; }
  #signin input[type=submit] {
    width: 86px; }
  #signin p {
    font-size: 0.75em;
    line-height: 2em; }

#footer {
  clear: both;
  font-size: 0.75em;
  line-height: 2em;
  text-align: center;
  border-top: solid 1px gray; }
